[alias]
	a = add
	aa = add -A
	c = commit
	s = status
	l = log --oneline --graph
	p = push
	co = checkout
	f = fetch
	r = rebase
	pl = pull
[user]
	name = myl7
	email = myl@myl.moe
	signingkey = 1F9DE45ED2A4F36A
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[pull]
	rebase = true
